body {
    background-image: url("../images/oboi.jpg"); 
    background-size: cover;
    /* background-color: #292929; */
    font-family: sans-serif;
}

.calendar {
    background-color: #efebe9;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.calendar__header {
    text-align: center;
}

.calendar__header__titleA {
    font-size: 1.5em;
}

.calendar__header__title {
    color: #3e2723;
    font-size: 1.5em;
}

.calendar__header__torn-pages {
    width: 100%;
    height: 30px;
    background-image: url("../images/torn.png"); 
    background-size: cover;
    margin-bottom: 20px;
}

.calendar__date {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.calendar__date__day {
    font-size: 10em;
    font-weight: bold;
    color: #5d4037;
}

.calendar__month {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__date__month {
    font-size: 3.5em;
    font-weight: bold;
    color: #795548;
    text-transform: uppercase;
}

.calendar__word {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 20px;
}

#word {
    font-size: 2em;
    font-weight: bold;
    color: #4e342e;
    margin-bottom: -10px;
}

#definition {
    font-size: 1em;
    color: #8d6e63;
}

.calendar__word__button {
    display: none; 
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #a1887f;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
}

.calendar__word__button.show {
    display: block; 
}

.calendar__word__button:hover {
    background-color: #93766d;
}

.calendar__footer {
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* .calendar__footer__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.calendar__footer__button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #a1887f;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
}

.calendar__footer__button:hover {
    background-color: #b1978f;
}

.calendar__footer__button i {
    font-size: 1.5em;
    color: white;
}

.material-icons {
    margin: auto;
}

.word-matching {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.words, .definitions {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.word-block, .definition-block {
    display: flex;
    width: 70%;
    height: 150px;
    background-color: #dbd1cd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}

.word-block p, .definition-block p {
    /* margin: 0; */
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.word-block p {
    font-size: 18px;
    font-weight: bold;
    color: #5d4037;
}

.definition-block p {
    font-size: 16px;
    color: #4e342e;
}

.word-matching button {
    width: 100px;
    height: 40px;
    background-color: #93766d;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.word-matching button:hover {
    background-color: #b1978f;
}

.word-block,
.definition-block {
  /* ... */
  cursor: pointer; /* Set cursor to pointer on hover */
}

.word-block.selected,
.definition-block.selected {
  box-shadow: 0 0 5px 2px rgb(0, 0, 0); /* Green shadow for correct match */
}

.word-block.wrong,
.definition-block.wrong {
  box-shadow: 0 0 5px 2px red; /* Red shadow for incorrect match */
}

.word-block.matched,
.definition-block.matched {
  box-shadow: 0 0 5px 2px green; /* Persistent green shadow for matched pairs */
}