body {
    /* background-image: url("../images/oboi.jpg"); 
    background-size: cover; */
    background-color: #625B71;
    font-family: sans-serif;
}

.calendar {
    background-color: #E8DEF8;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.calendar__header {
    text-align: center;
}

.calendar__header__titleA {
    font-size: 1.5em;
}

.calendar__header__title {
    color: #4F378B;
    font-size: 1.5em;
}

.calendar__header__torn-pages {
    width: 100%;
    height: 30px;
    background-image: url("../images/torn.png"); 
    background-size: cover;
    margin-bottom: 20px;
}

.calendar__date {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__date__day {
    font-size: 3.5em;
    font-weight: bold;
    color: #5a34ba;
}

.calendar__word {
    text-align: center;
    margin-bottom: -10px;
}

h2.wordus {
    font-size: 2em;
    font-weight: bold;
    color: #38236e;
    margin-bottom: -15px;
}

p.definitus {
    font-size: 1em;
    color: #4F378B;
    margin-left: 5%;
    margin-right: 5%;
}


.calendar__word__button {
    display: none; 
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #a1887f;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
}

.calendar__word__button.show {
    display: block; 
}

.calendar__word__button:hover {
    background-color: #93766d;
}

.calendar__footer {
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* .calendar__footer__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.calendar__footer__button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #7560ab;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
}

.calendar__footer__button:hover {
    background-color: #5a34ba;
}

.calendar__footer__button i {
    font-size: 1.5em;
    color: white;
}

.material-icons {
    margin: auto;
}

/* #playButton {
    margin-left: 20px;
    margin-top: 8px;
    width: 50px; 
    height: 50px; 
    background-color: #5a34ba;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */

#playButton {
    margin-left: 10px;
    margin-top: 8px;
    width: 50px;
    height: 50px;
    background-color: #a591d7;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
}

#playButton img {
    width: 40px; /* Задаем размер иконки */
    height: 40px;
    margin-right: 3px;
}