body {
    /* background-image: url("../images/oboi.jpg"); 
    background-size: cover; */
    background-color: #625B71;
    font-family: sans-serif;
}

.calendar {
    background-color: #E8DEF8;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.calendar__header {
    text-align: center;
}

.calendar__header__titleA {
    font-size: 1.5em;
}

.calendar__header__title {
    color: #4F378B;
    font-size: 1.5em;
}

.calendar__header__torn-pages {
    width: 100%;
    height: 30px;
    background-image: url("../images/torn.png"); 
    background-size: cover;
    margin-bottom: 20px;
}

.calendar__date {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.calendar__date__day {
    font-size: 10em;
    font-weight: bold;
    color: #38236e;
}

.calendar__month {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__date__month {
    font-size: 3.5em;
    font-weight: bold;
    color: #4F378B;
    text-transform: uppercase;
}

.calendar__word {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 20px;
}

#word {
    font-size: 2em;
    font-weight: bold;
    color: #38236e;
    margin-bottom: -10px;
}

#definition {
	margin-left: 20px;
	margin-right: 20px;
    font-size: 1em;
    color:  #4F378B;
}

.calendar__word__button {
    display: none; 
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #644d9e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
}

.calendar__word__button.show {
    display: block; 
}

.calendar__word__button:hover {
    background-color: #5a34ba;
}

.calendar__footer {
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* .calendar__footer__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.calendar__footer__button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #7560ab;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
}

.calendar__footer__button:hover {
    background-color: #5a34ba;
}

.calendar__footer__button i {
    font-size: 1.5em;
    color: white;
}

.material-icons {
    margin: auto;
}

.word-matching {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.words, .definitions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-block, .definition-block {
    width: 200px;
    height: 150px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.word-block p, .definition-block p {
    margin: 0;
}

.word-block p {
    font-size: 18px;
    font-weight: bold;
}

.definition-block p {
    font-size: 16px;
}

.word-matching button {
    width: 100px;
    height: 40px;
    background-color: #93766d;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.word-matching button:hover {
    background-color: #b1978f;
}

/* Стили для выбранных/неправильных слов/определений */
.word-block.selected {
    background-color: #4CAF50; /* Зеленый */
}

.definition-block.selected {
    background-color: #4CAF50; /* Зеленый */
}

.word-block.wrong {
    background-color: #F44336; /* Красный */
}

.word-block.wrong {
    background-color: #F44336; /* Красный */
}

.definition-block.wrong {
    background-color: #F44336; /* Красный */
}

/* Стили для обратной связи */
.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.feedback.correct {
    color: #4CAF50; /* Зеленый */
}

.feedback.incorrect {
    color: #F44336; /* Красный */
}